<div class="footer">
  <div class="footer-links">
    <div class="left">
      <a href="https://social-plugins.line.me/lineit/share?url=http://www.saitokoichi.com/"><i class="fab fa-line"></i></a>
      <a href="https://plus.google.com/share?url=https%3A//www.saitokoichi.com/"><i class="fab fa-google-plus-square"></i></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.saitokoichi.com/"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/home?status=https%3A//www.saitokoichi.com/"><i class="fab fa-twitter"></i></a>
    </div>

  </div>
  <div class="footer-copyright">
    <span style="font-size: 17px;">有限会社インタースピリッツ&nbsp;&nbsp;&nbsp;<i class="fas fa-phone-square" style="font-size: 22px"></i><a href="tel:03-5933-0130" style="text-decoration: none; color: #FFFFFF;font-size: 20px">&nbsp;03-5933-0130</a></span><br>
    <p style="margin:5px 0;font-size: 13px;">〒178-0064 東京都練馬区南大泉5-38-9 KDK南大泉206 （事務所）</p>
    <span style="font-size: 13px;" class="copy">COPYRIGHT「有限会社インタースピリッツ」All Rights Reserved.</span>
  </div>
</div>
