<div style="background-color: #A37E59;">
  <div class="container" style="padding: 20px; margin-top: 0;text-align: center;">
    <ul>
      <li><a href="./index.html" style="color: white;"><span><b>ホーム</br><small>Home</small></span></a></li>
      <li><a href="./doctor" style="color: white;"><span><b>院長紹介</br><small>Doctor Introduction</small></span></a></li>
      <li><a href="#" style="color: white;"><span><b>医院紹介</br><small>Clinic Introduction</small></span></a></li>
      <li><a href="./profile" style="color: white;"><span><b>診療案内</br><small>Medical Information</small></span></a></li>
      <li><a href="./recruiting" style="color: white;"><span><b>スタッフ募集</br><small>Recruiting</small></span></a></li>
    </ul>
  </div>
</div>
