<div class="navbar-wagon sticky">
  <!-- Logo -->
  <div id="logo">
    <a href="./index.html" style="text-decoration: none; color: #FFFFFF; font-size: 25px">INTER SPIRITS</a>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm" style="color: #FFFFFF;">
 <!--    <a href="./index.html" class="navbar-wagon-item navbar-wagon-link">Home</a> -->
    <a href="./about" class="navbar-wagon-item navbar-wagon-link">コピーライターとは</a>
    <a href="./detail" class="navbar-wagon-item navbar-wagon-link">業務内容</a>
    <a href="./profile" class="navbar-wagon-item navbar-wagon-link">自己紹介</a>
    <a href="./work" class="navbar-wagon-item navbar-wagon-link">制作事例</a>
</div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
     <!--    <li><a href="./index.html">Home</a></li> -->
        <li><a href="./about">コピーライターとは</a></li>
        <li><a href="./detail">業務内容</a></li>
        <li><a href="./profile">自己紹介</a></li>
        <li><a href="./work">制作事例</a></li>
      </ul>
    </div>
  </div>
</div>
