#logo {
  text-decoration: none;
  color: $orange;
  font-size: 25px
}

#logo:hover{
　text-decoration: none;
}

/* Main navbar */
.navbar-wagon {
  transition: all 0.3s ease;
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  font-weight: 500;
  font-size: 22px;
  font-weight: bold;
  // opacity: 0.9;
}

/* Right section */
// .navbar-wagon-right {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // color: orange;
// }

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  margin: 10px;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #FFFFFF;
  font-size: 14px;
  padding: 30px;
}

.greeting{
  font-size: 14px;
  color: #845732;
}


@media screen and (max-width: 640px) {
  .greeting{
    font-size: 12px;
  }
}

.fa-bars {
  color: black;
}

.sticky{
  box-shadow: 0 2px 8px rgba(30,30,80,.3);
  left: 0;
  line-height: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 24;
}
