.body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.home-pic {
  background-image: url("/images/top.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}

.content-box{
  margin: 60px;
  padding: 30px;
}


/* スマートフォン用CSS */
@media screen and (max-width: 640px) {
  .content-box {
    margin: 10px;
    padding: 20px;
  }
  .home-pic{
    background-image: url("/images/top2.jpg");
  }
}

