<div>
  <div class="doctor-pic">
　</div>

  <div class="tab">
    <%= partial "layouts/menu" %>
  </div>

   <div style="padding:10px 80px;background-color: white;">
      <div class="content-box" style="background-color: #FCF3E3;">
        <span style="font-size: 18px;font-weight: bold;color: #845732;text-align: center;">院長の新留隼人です</span><br><br>
        <p>あなたは、「痛みだけを止めてほしい」「歯を抜いてほしい」と、痛みが我慢できなくなってから仕方なく歯医者さんに行っていませんか？痛くなったら、歯医者さんに行って治してもらえばいいと、簡単に考えていませんか？あなた自身のことなのに、自分のことを粗末にしてしている人がとても多いような気がします。歯科医は患者さんの歯の痛みをとり、削っては詰め、抜いては入れることの繰り返しです。これでは壊れていく患者さんに助力しているのと同じことです。<br><br>当医院では、一本の歯が痛んだとき、そして一本の歯を抜くとき、患者さんに「どうしてそうなってしまうのか、それが将来にどんな結果になるのか」ということに少しでも何か感じて、気付いてもらいたいという想いでカウンセリングをさせていただいております。</p>
      </div>
    </div>

</div>
