<div id="home">
  <div class="home-content">
    <div class="home-pic">
      <p>言葉で「志」を明確化し<br>
      言葉で「働き方」を変えていく</p>
    </div>

    <div class="container">
    <div style="padding-top: 60px;font-size: 23px;font-weight: bold;">私にお手伝いできること</div>
      <span style="padding: 20px;">
        <p style="font-weight: bold;">たとえば、あなたの会社のビジョンは何か、 社員の皆さんは何のためにこの会社で働いているのか ──</p>
        言わば「会社設立の趣意」や「ここで働く意味」は、社員一人ひとりの胸にしっかりと根づいているでしょうか。日々の仕事の中でモチベーションの源として思い起こしたり、何かを判断する際の拠り所として生きている「言葉」になっているでしょうか。<br>

        コピーライター歴40年の私にお手伝いできることは、ついありきたりの堅苦しい言葉を使ってしまいがちな企業理念やビジョン、トップの熱い思いなど、うまく伝え切れていない企業の原点をわかりやすく伝えられる「言葉を探す」こと。あなたの会社の目指す「志」や「信条」を、社内外のより多くの人にむけて表現することです。<br><br><br>

        <p style="font-weight: bold;">具体的には、企業情報として会社案内やホームページに掲げられている企業理念やビジョンを踏まえて現場においてはどうしたらよいかを、コピーライターの視点や感性により共感できる言葉で表現する ──<br></p>
        つまり、会社として発信する言葉を人の胸に響くメッセージにする。そして、全社員が日々の仕事のなかで「何をすればよいか」をわかりやすく─ たとえば「合言葉」のように掲げ、企業発展の活力や新たなエネルギーとしていくことを目指します。もうひとつの「働き方改革」を実現するために、ぜひ私にお手伝いをさせてください。最後までお読みくださり、有難うございました。お会いできる日が来ることを願っております。<br><br>
      </p>
      </span>
　　　 <div style="text-align: right; padding-bottom: 70px;">
        <p style="font-weight: bold">インタースピリッツ　　斉藤 浩一</p>
      </div>
    </div>
  </div>
</div>
