<div>
  <img src="./images/nurse.jpg">
　</div>

  <div class="tab">
    <%= partial "layouts/menu" %>
  </div>

  <div style="padding:10px 80px;background-color: white;">
      <div class="content-box" style="background-color: #FCF3E3;">
        <span style="font-size: 18px;font-weight: bold;color: #845732;text-align: center;">院長の新留隼人です</span><br><br>
        <p>当院は、「患者さんを良くしたい、良くなっていただきたい」という思いで、毎日楽しく、前向きな気持ちで仕事をしています。<br><br>
        私は、患者さんの健康に貢献する医療者です。<br>
        しかし、スタッフなしには、私は質の高い医療を行なうことができません。<br>
        今、私が医療者として快適に仕事ができ、患者さんにいい治療を提供できているのは、私を支えてくれるスタッフのおかげと言っても過言ではありません。<br>
        当院は、患者さんの笑顔が多い歯科医院です。<br>
        患者さんの「ありがとう」をいただけること、そして「この医院と出会えてよかった」と患者さんに言っていただけることを、私たちは誇りに思っています。<br>
        患者さんとのつながりを大切にし、お互いが一人の人間として関わりあえるような、そんな医院を目指しています。それは、スタッフに対しても同じです。スタッフ一人ひとりの個性を生かして、のびのびと仕事ができるように願っています。<br><br>
        誰にでも「初めて」はあります。ですから、最初からうまくできるとは思っていません。<br>
        自分の成長を願う方、誰かの役に立てることに喜びを感じる方、言われたことを「はいはい」とこなすのではなく、患者さんの健康をサポートするプロとして、プライドをもって仕事に取り組める方を当院では求めています。<br><br>
        当院では、スタッフを募集しています。<br>
        私たちと一緒に働いてみたい、自分のスキルを高めたいという方は、医院にお問い合わせください。</p>
      </div>
    </div>

</div>

